.mainDiv{
    border:2px solid red;
    display:flex;
    height:5000px;
    margin:50px;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}
.childDiv {
    border:1px solid black;
    height:100px;
    width:100px;
    background-color: red;
}
.firstDiv{
    position:static;
    top:100px;
}
.secondDiv{
    position: relative;
    top:10px;
    left:10px;
}
.thirdDiv{
    position: fixed;
    top:10px;
    left:10px;
}
.fourthDiv{
    position: absolute;
    top:10px;
    left:10px;
}
.fifthDiv{
    position: sticky;
    top: 10px;
    left: 10px;
}