*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#signUpHeader{
    text-align: center;
}
label{
    display: block;
    margin: 6px;
    font-size: large;
}

.container{
    margin: 36px;
    display: flex;

}
input{
    display: block;
    width: 100%;
    border: 1px solid lightgray;
    height: 38px;
    border-radius: 4px;
    margin: 6px;
    margin-bottom: 12px;
    padding: 6px;
}
.input-radio{
    display:inline;
    width:max-content;
    height: max-content;
    margin: 0;
    margin-bottom: 12px;
}
.label-radio{
    display:inline;
    width:max-content;
    margin: 0;
    margin-right: 18px;
}
textarea{
    width: 100%;
    display: block;
    border: 1px solid lightgray;
    border-radius: 4px;
}
select{
    display:inline-block;
    width:100%;
    height:38px;
    border: 1px solid lightgray;
    border-radius: 4px;
} 
.input-check{
    display: inline;
    width: fit-content;
    height: fit-content;
    margin-top: 12px;
}
.label-check{
    display: inline;
    margin-top: 12px;
}
.bg-blue{
    display: flex;
    width: fit-content;
    background-color: skyblue;
}
.left{
    width: 50%;
}
img{
    width: 75%;
}
.right{
    width: 50%;
}
@media only screen and (max-width:500px){
    .container{
        display: block;
    }
    .left{
        width: fit-content;
        height: 160px;
        text-align: center;
    }
    .right{
        width: 100%;
    }
    img{
        width: 40%;
    }
}